h1 {
    border: 2px #eee solid;
    color: green;
    text-align: left;
    padding: 10px;
}

h2 {
    border: 2px #eee solid;
    color: red;
    text-align: center;
    padding: 10px;
}
 p {
        font-size: 25pt;
        text-align: right;
    }
